{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <script src="https://unpkg.com/scrollreveal"></script>
        <script type="module" src="{% static 'js/main.js' %}" defer></script>
        <title>Donation | Eglise Mat</title>
    </head>
    <body>
        <header class="header">
            <nav>
                <div class="nav__header">
                    <div class="nav__logo">
                        <a href="#">
                            <img src="{%static 'assets/images/logo22.png' %}" alt="">
                        </a>
                    </div>
                    <div class="nav__menu__btn" id="menu-btn">
                        <span>
                            <i class="ri-menu-3-line"></i>
                        </span>
                    </div>
                </div>
                <ul class="nav__links" id="nav-links">
                    <li class="link">
                        <a href="/">Accueil</a>
                    </li>
                    <li class="link">
                        <a href="/#about">Apropos</a>
                    </li>
                    <li class="link">
                        <a href="/#class">Departements</a>
                    </li>
                    <li class="link">
                        <a href="/#trainers">Evenements</a>
                    </li>
                    <li class="link">
                        <a href="/#pricing"></a>programmes</a>
                </li>
                <li class="link">
                    <a href="/#contact" class="btn">Contactez nous</a>
                </li>
            </ul>
        </nav>
        <div class="section__container header__container" id="home">
            <div class="header__content">
                <h4>Welcome to</h4>
                <h1 class="section__header">MAT donnation basket</h1>
                <p>thank you for generosity and giving , we hope that our almighty is going to bless you so much</p>
                <div class="header__btn">
                    <a href="#give" class="btn">Give here</a>
                </div>
            </div>
        </header>
        <div class="container-method" id="give">
            <div class="left">
                <p>Mode de payement</p>
                <div class="js-controls methods">
                    <div>
                        <i class="ri-phone-line"></i>
                        Transfert mobile
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="center-header">
                    <h4>vous en RDC</h4>
                    <p> N'hesitez pas d'utiliser nos systeme de transfere mobile ci-dessous.</p>
                </div>
                <hr style="border: 1px solid #ccc; margin: 0 15px; margin-top:1rem;">
                <div class="js-content">
                    <div class="banking-method mobile-money">
                        <div class="banking">
                            {% for bank in accounts %}
                            <div class="banking-img">
                                <img src="{{bank.image.url}}">
                                <span>acc num: {{bank.account_number}}</span>
                            </div>
                            {% endfor %}
                        </div>
                        <hr style="border: 1px solid #ccc; margin: 0 15px; margin-top:3rem;">
                    </div>
                </div>
            </div>
            <div class="right">
                <h4>Offrande speciale</h4>
                <hr style="border: 1px solid gray; margin: 0 15px;">
                <div class="details">
                    <h5>Description</h5>
                    <p>Pour votre contribution a l'achat parcelle utiliser le notre compte CADECO</p>
                </div>
                <hr style="border: solid 1px gray; margin: 0 15px;">
                <a href="">
                    <img src="./assets/images/cadeco.jpg">
                </a>
            </div>
        </div>
        <footer class="footer">
            <div class="section__container footer__container">
                <div class="footer__col">
                    <div class="footer__logo">
                        <a href="#">
                            <img src="./images/logo-nav.png" alt="">
                            matrans
                        </a>
                    </div>
                    <div class="newsletter">
                        <h3 class="news_header"> News letter</h3>
                        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</p>
                        <div class="news__content">
                            <input type="text" placeholder="Email Address">
                            <button class="btn">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="footer__col">
                    <h4>Company</h4>
                    <div class="footer__links">
                        <a href="#">Business</a>
                        <a href="#">franchise</a>
                        <a href="#">Patnership</a>
                        <a href="#">Network</a>
                    </div>
                </div>
                <div class="footer__col">
                    <h4>About us</h4>
                    <div class="footer__links">
                        <a href="#">Business</a>
                        <a href="#">franchise</a>
                        <a href="#">Patnership</a>
                        <a href="#">Network</a>
                    </div>
                </div>
                <div class="footer__col">
                    <h4>Contact</h4>
                    <div class="footer__links">
                        <a href="#">contact us</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms & conditions</a>
                    </div>
                    <div class="footer__socials">
                        <a href="#" class="facebook">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="#" class="instagram">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__bar">
                cpyright C 2024 tignelNbg.All right reserved.
            </div>
        </footer>
    </body>
</html>
