{% load static %}
<!DOCTYPE html>
<html lang="en" class="sr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{%static 'assets/css/lightbox.css' %}">
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <style>
        swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
        }

        swiper-slide img {
            display: block;
            width: 100%;
        }
        </style>
        <title>Eglise MAT</title>
    </head>
    <body>
        <header class="header">
            <nav>
                <div class="nav__header">
                    <div class="nav__logo">
                        <a href="#">
                            <img src="{%static 'assets/images/logo22.png' %}" alt="">
                        </a>
                    </div>
                    <div class="nav__menu__btn" id="menu-btn">
                        <span>
                            <i class="ri-menu-3-line"></i>
                        </span>
                    </div>
                </div>
                <ul class="nav__links" id="nav-links">
                    <li class="link">
                        <a href="#home">Accueil</a>
                    </li>
                    <li class="link">
                        <a href="#about">Apropos de nous</a>
                    </li>
                    <li class="link">
                        <a href="#trainers">Evemenent</a>
                    </li>
                    <li class="link">
                        <a href="#pricing">Programmes</a>
                    </li>
                    <li class="link">
                        <a href="/donate">faire un Don</a>
                    </li>
                    <li class="link">
                        <a href="#contact" class="btn">Contactez nous</a>
                    </li>
                </ul>
            </nav>
            <div class="section__container header__container" id="home">
                <div class="header__content">
                    <h1 class="section__header">
                        La Mission des
                        <span class="typing-text">
                            Ambassadeurs pour la
                        Tranformation
                        </span>
                    </h2>
                    <h4>Eglise MAT</h4>
                    <div class="header__btn">
                        <button class="btn" id="liveButton">Suivre le Directe</button>
                    </div>
                </div>
            </div>
            <div id="videoPopup" class="popup">
                <div id="liveVideo" class="video">
                    {{liveVideo.url|safe}}
                </div>
                <button id="closeButton">
                    <i class="ri-close-large-line"></i>
                </button>
            </div>
        </header>
        <section class="section__container about__container" id="about">
            <div class="about__image">
                {% if settings.aboutImage.url != null %}
                <img src="{{ settings.aboutImage.url }}" alt="About Image">
                {% else %}
                <img src="{%static 'assets/images/IMG_0951.png' %}" alt="About Image">
                {% endif%}
            </div>
            <div class="about__content">
                <h2 class="section__header">
                    Qui nous sommes
                </h2>
                <p class="section__description">
                    {{settings.aboutUs}}
                </p>
                <div class="about__grid">
                    <div class="about__card">
                        <span>
                            <i class="ri-open-arm-line"></i>
                        </span>
                        <div>
                            <h4>Notre vision</h4>
                            <p>
                                {{settings.ourVision}}
                            </p>
                        </div>
                    </div>
                    <div class="about__card">
                        <span>
                            <i class="ri-shake-hands-fill"></i>
                        </span>
                        <div>
                            <h4>Notre mission</h4>
                            <p>
                                {{settings.ourMission}}
                            </p>
                        </div>
                    </div>
                    <div class="about__card">
                        <span>
                            <i class="ri-p2p-line"></i>
                        </span>
                        <div>
                            <h4>Nos objectif</h4>
                            <p>
                                {{settings.ourObjectives}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__container welcome__message">
            <h2 class="section__header">Le message du pasteur principal</h2>
            <div class="welcome__message__content">
                <div class="welcome__description">
                    <p>
                        {{settings.pastorsMessage}}
                    </p>
                </div>
                <div class="welcome__video">
                    {{liveVideo.pastorMessage|safe}}
                </div>
            </div>
        </section>
        <section class="section__container class__container" id="class">
            <h2 class="section__header">Nos departements</h2>
            <p class="section__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde fugit voluptatibus consectetur hic dolores
            harum, accusamus, reprehenderit sequi quis iure debitis deserunt. Omnis quae porro dignissimos quasi
            expedita veniam architecto quas cupiditate vel. Facilis obcaecati, nam illo impedit veritatis reprehenderit,
            asperiores officiis tempore quas culpa neque autem consectetur, cum modi.
            </p>
            <div class="class__grid">
                {% for department in departments %}
                <div class="class__card">
                    <img src="{{department.image.url}}" alt="">
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="section_container trainer__container" id="trainers">
            <h2 class="section__header">Les activite a venir</h2>
            <p class="section__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas
            repellendus sit necessitatibus consectetur labore!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ad doloremque magni modi voluptate facilis
            ipsa dolor saepe similique optio!
            </p>
            <div class="trainer__grid">
                {% for activity in activities %}
                <div class="trainer__card">
                    <img src="{{activity.image.url}}" alt="">
                </div>
                <div class="trainer__card">
                    <div class="trainer__content">
                        <h4>{{activity.title}}</h4>
                        <hr>
                        <p>
                            {{activity.description}}
                        </p>
                        <div class="trainer__socials">
                            <a href="#" class="facebook">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="#" class="google">
                                <i class="ri-google-fill"></i>
                            </a>
                            <a href="#" class="instagram">
                                <i class="ri-instagram-fill"></i>
                            </a>
                            <a href="#" class="twitter">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="section__container price__container" id="pricing">
            <h2 class="section__header">
                Notre Programme hedomadaire
            </h2>
            <p class="section__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui et laudantium natus repellat culpa harum
            at vero minus odit, sit in, minima, iste vitae!
            </p>
            <div class="price__grid">
                {% for program in programs %}
                <div class="price__card">
                    <div class="price__content">
                        <h4>{{program.title}}</h4>
                        <img src="{{program.image.url}}" alt="price">
                        <p>{{program.description}}</p>
                    </div>
                    <button class="btn">Welcome</button>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="section_container gallery-quotes">
            <h2 class="section__header">Thoughts of the Week</h2>
            <p class="section__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas
            repellendus sit necessitatibus consectetur labore!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ad doloremque magni modi voluptate facilis
            ipsa dolor saepe similique optio!
            </p>
            <div class="thought-container">
                <swiper-container
                    class="mySwiper"
                    pagination="true"
                    effect="coverflow"
                    grab-cursor="true"
                    centered-slides="true"
                    slides-per-view="auto"
                    coverflow-effect-rotate="50"
                    coverflow-effect-stretch="0"
                    coverflow-effect-depth="100"
                    coverflow-effect-modifier="1"
                    coverflow-effect-slide-shadows="true"
                >
                    {% for thought in thoughts %}
                    <swiper-slide>
                        <img src="{{thought.image.url}}">
                    </swiper-slide>
                    {% endfor %}
                </swiper-container>
            </div>
        </section>
        <section class="section__container watch__video__container">
            <h2 class="section__header">
                watch our Last sermon
            </h2>
            <p class="section__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui et laudantium natus repellat culpa harum
            at vero minus odit, sit in, minima, iste vitae!
            </p>
            <div class="sermon__content">
                <div class="sermon__banner">
                    {{sermon.url|safe}}
                </div>
                <div class="sermon__details">
                    <div class="sermon__serie">
                        <label>serie title:</label>
                        <h2>{{sermon.series_title}}</h2>
                    </div>
                    <div class="sermon__name">
                        <label>sermon title:</label>
                        <h3>{{sermon.sermon_title}}</h3>
                    </div>
                    <div class="sermon__speaker">
                        <label>speaker:</label>
                        <h3>{{ sermon.speaker}}</h3>
                    </div>
                    <button class="btn">Watch All Videos</button>
                </div>
            </div>
        </section>
        <section class="section_container gallery-container">
            <h2 class="section__header">Our Service Gallery</h2>
            <p class="section__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas
            repellendus sit necessitatibus consectetur labore!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ad doloremque magni modi voluptate facilis
            ipsa dolor saepe similique optio!
            </p>
            <div class="container">
                <div class="gallery">
                    {% for image in gallery%}
                    <a href="{{image.image.url}}" data-lightbox="models" data-title="caption1">
                        <img src="{{ image.image.url}}" alt="{{image.image.description}}">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="section__container contact__container" id="contact">
            <h2 class="section__header">
                Contact Us
            </h2>
            <p class="section__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui et laudantium natus repellat culpa harum
            at vero minus odit, sit in, minima, iste vitae!
            </p>
            <div class="contact__content">
                <div class="contact__detail">
                    <p class="contact-info">
                        <span>addresse mail:</span>
                        <br>
                        {{contact.email}}
                    </p>
                    <p class="contact-info">
                        <span>numero de telephone:</span>
                        {{contact.phone}}
                    </p>
                    <p class="contact-info">
                        <span>Adresse locale :</span>
                        {{contact.address}}
                    </p>
                    <p class="contact-info">
                        <span>reseaux sociaux:</span>
                        egliseMat
                    </p>
                    <div class="trainer__socials">
                        <a href="#" class="facebook">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="#" class="instagram">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="ri-twitter-fill"></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="ri-youtube-fill"></i>
                        </a>
                    </div>
                </div>
                <div class="contact__form">
                    <form
                        action=""
                        class="form"
                        id="claculate-form "
                        method="POST"
                    >
                        {% csrf_token %}
                        <input
                            type="text"
                            class="calculate__input"
                            placeholder="votre nom"
                            name="name"
                            required
                        >
                        <input
                            type="text"
                            class="calculate__input"
                            type="email"
                            placeholder="votre address mail"
                            name="email"
                            required
                        >
                        <textarea
                            name="message"
                            id=""
                            cols="30"
                            rows="10"
                            placeholder="ecrit votre message ici"
                            required
                        ></textarea>
                        <button class="btn">
                            Envoyez
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section__container partners">
        <h2 class="section__header">Our Partners</h2>
        <p class="section__description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum atque neque praesentium quo corporis eos
            quibusdam distinctio cupiditate impedit esse.
        </p>
        <div class="partners__cards">
            {% for partner in partners %}
            <div class="card">
                <img src="{{partner.image.url}}" alt="">
            </div>
            {% endfor %}
        </div>
    </section>
    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <div class="footer__logo">
                    <a href="#">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="newsletter">
                    <h3 class="news_header"> News letter</h3>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</p>
                    <div class="news__content">
                        <input type="text" placeholder="Email Address">
                        <button class="btn">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="footer__col">
                <h4>Company</h4>
                <div class="footer__links">
                    <a href="#">NGO</a>
                    <a href="#">franchise</a>
                    <a href="#">Patnership</a>
                    <a href="#">Network</a>
                </div>
            </div>
            <div class="footer__col">
                <h4>About us</h4>
                <div class="footer__links">
                    <a href="#">NGO</a>
                    <a href="#">franchise</a>
                    <a href="#">Patnership</a>
                    <a href="#">Network</a>
                </div>
            </div>
            <div class="footer__col">
                <h4>Contact</h4>
                <div class="footer__links">
                    <a href="#">contact us</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms & conditions</a>
                </div>
                <div class="footer__socials">
                    <a href="#" class="facebook">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="#" class="instagram">
                        <i class="ri-instagram-fill"></i>
                    </a>
                    <a href="#" class="twitter">
                        <i class="ri-twitter-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__bar">
            copyright C 2024 tignelNbg.All right reserved.
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="{% static 'assets/js/lightbox-plus-jquery.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>

        var isVideoPlaying = false;
        document.getElementById("liveButton").addEventListener("click", function () {
            document.getElementById("videoPopup").style.display = "block";
            if (isVideoPlaying) {
                playLiveStream();
            }
        });

        document.getElementById("closeButton").addEventListener("click", function () {
            pauseLiveStream();
            document.getElementById("videoPopup").style.display = "none";
        });

        function playLiveStream() {
            isVideoPlaying = true;
            var liveVideo = document.getElementById("liveVideo").querySelector("iframe");
            liveVideo.src = liveVideo.src;
        }

        function pauseLiveStream() {
            isVideoPlaying = false;
            var liveVideo = document.getElementById("liveVideo").querySelector("iframe");
            liveVideo.src = "";
        }
    </script>
</body>
</html>
